* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(../fonts/AgathoBold.otf);
  font-family: AgathoBold;
}
@font-face {
  src: url(../fonts/AgathoRegular.otf);
  font-family: AgathoRegular;
}
*::first-letter {
  text-transform: uppercase;
  display: inline;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-family: sans-serif;
  color: #000000;
  letter-spacing: 1.2px;
}

.container {
  max-width: 1200px;
}

h2 {
  font-style: normal;
  font-weight: 700;
}
h2 span {
  display: block;
  color: #3cb815;
  text-transform: capitalize;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  p {
    font-size: 22px;
  }
}
.maxWidth {
  max-width: 990px;
}

.marginTop_80 {
  margin-top: 80px;
}

.marginBottom_80 {
  margin-bottom: 80px;
}

header .addCart {
  padding: 1rem 0 1.5rem;
}
header .addCart .headerLogo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  justify-content: space-between;
}
header .addCart .headerLogo a img {
  max-width: 100%;
  width: 60px;
}
header .addCart .headerLogo a p {
  margin-bottom: 0;
  line-height: 25px;
}
header .addCart .headerLogo a p span {
  display: block;
}
header .addCart .headerLogo a p span:nth-of-type(1) {
  font-weight: 600;
  font-size: 23px;
}
header .addCart .headerLogo a p span:nth-of-type(2) {
  font-size: 18px;
  color: #ff7d09;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  header .addCart .headerLogo a p {
    display: none;
  }
}
header .headerMiddleSection ul, header .headerRightSection ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
header .headerMiddleSection ul li, header .headerRightSection ul li {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
header .headerMiddleSection ul li p, header .headerRightSection ul li p {
  margin-bottom: 0;
  font-size: 14px;
}
header .headerMiddleSection ul li p address, header .headerRightSection ul li p address {
  margin-bottom: 0;
}
header .headerMiddleSection ul li i, header .headerRightSection ul li i {
  margin: 0 4px;
  font-size: 18px;
}
header .headerMiddleSection ul li form.searchForm, header .headerRightSection ul li form.searchForm {
  position: relative;
  min-width: 400px;
}
header .headerMiddleSection ul li form.searchForm i, header .headerRightSection ul li form.searchForm i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
header .headerMiddleSection ul li form.searchForm input::placeholder, header .headerRightSection ul li form.searchForm input::placeholder {
  font-weight: 300;
  font-size: 15px;
}
header .headerRightSection {
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .headerMiddleSection li {
    width: 100%;
  }
  .headerMiddleSection li:nth-of-type(1) {
    display: none;
  }
  .headerMiddleSection li p {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) and (min-width: 0px) and (max-width: 767px) {
  .headerRightSection li {
    width: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .headerRightSection .myCart {
    display: none;
  }
}
.headerSection {
  margin-bottom: 20px;
}

.address {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .address {
    width: auto;
  }
  .address span {
    display: none;
  }
}

.searchInput {
  background-color: #f0f0f0;
  border: none;
  height: 45px;
}

.myCart {
  position: relative;
}
.myCart p {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.myCart p::first-letter {
  text-transform: uppercase;
}
.myCart p span {
  display: flex;
  flex: 1;
  align-items: center;
  flex-flow: column;
}
.myCart p span lable {
  color: #ff7d09;
  font-size: 12px;
}
.myCart p i {
  font-size: 12px !important;
}

.userProfile p span i {
  font-size: 12px !important;
}

#navigation {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
}
#navigation i {
  font-size: 20px;
}
#navigation .navbar-brand {
  font-size: 14px;
}
#navigation .navbar-brand .allNavCategory {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  justify-content: space-between;
  min-width: 180px;
  margin-right: 20px;
}
#navigation .navbar-brand .allNavCategory > span {
  padding: 0 5px;
}
#navigation .navbar-brand .allNavCategory i:nth-of-type(1) {
  color: #3cb815;
}
#navigation .navbar-brand .allNavCategory i:nth-of-type(2) {
  font-size: 12px;
}
#navigation .navbar-brand:hover .allNavCategory i {
  color: #ff7d09;
}
#navigation .navbar-brand:hover .allNavCategory span {
  color: #c1c1c1;
}
#navigation .nav-link {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
#navigation .nav-link:hover {
  color: #c1c1c1;
}
#navigation #giftCartListing {
  align-items: center;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  #navigation #giftCartListing {
    margin-top: 20px !important;
    justify-content: space-between;
    width: 100%;
  }
}
#navigation #giftCartListing li {
  align-self: center;
}
#navigation #giftCartListing li a {
  color: #000000;
}
#navigation #giftCartListing .callMe {
  padding-right: 1rem;
}
#navigation #giftCartListing .callMe i {
  color: #ff7d09;
}
#navigation #giftCartListing .giftCart {
  position: relative;
  background-color: #ff7d09;
}
#navigation #giftCartListing .giftCart a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.7rem 2rem;
}
#navigation #giftCartListing .giftCart a i {
  padding-right: 5px;
}
#navigation #giftCartListing .giftCart a span {
  text-transform: capitalize;
}
#navigation #giftCartListing .giftCart:hover {
  background-color: #f57400;
}

.commonBtnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  background-color: #3cb815;
  border-radius: 30px;
  height: 42px;
  margin-top: 50px;
}
.commonBtnWrap .commonBtn {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
}
.commonBtnWrap .commonBtn span {
  text-transform: capitalize;
  padding-left: 20px;
  font-size: 14px;
}
.commonBtnWrap .commonBtn i {
  font-size: 35px;
  transition: all linear 0.5s;
}
.commonBtnWrap .commonBtn:hover i {
  transform: rotateX(180deg);
}
.commonBtnWrap:hover {
  background-color: #289b04;
}

.seeAll {
  padding: 0.5rem 2rem;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  color: #000000;
}

.textTypograph {
  position: relative;
}

.servicesWrap {
  width: 100%;
  padding: 1rem 0;
}
.servicesWrap .servicesBlock {
  width: 100%;
  position: relative;
}
.servicesWrap .servicesBlock::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #3cb815;
  left: 0;
  bottom: -2px;
  transition: all ease-out 0.5s;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .servicesWrap .servicesBlock > ul {
    justify-content: flex-start !important;
  }
}
.servicesWrap .servicesBlock > ul > li > object {
  width: 45px;
  height: 45px;
}
.servicesWrap .servicesBlock > ul .productName {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 1.5rem;
  transition: all ease-out 0.5;
}
.servicesWrap .servicesBlock > ul .productName a {
  text-decoration: none;
  color: #000000;
}
.servicesWrap .row > [class*=col-] {
  border-bottom: 2px solid #e7e7e7;
}
.servicesWrap .row > [class*=col-]:hover .servicesBlock::after {
  width: 100%;
}
.servicesWrap .row > [class*=col-]:hover .servicesBlock .productName {
  font-weight: 600;
}

.browseCategoryWrap {
  width: 100%;
}
.browseCategoryWrap .item {
  height: 240px;
  overflow: hidden;
  transition: all ease-out 0.5s;
  border-radius: 8px;
}
.browseCategoryWrap .item .itemImg {
  background-color: #fae9ea;
  position: relative;
  min-height: 300px;
}
.browseCategoryWrap .item .readMoreArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #3cb815;
  border-radius: 50%;
  position: absolute;
  bottom: 7px;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
}
.browseCategoryWrap .item .readMoreArrow a i {
  color: #fff;
}
.browseCategoryWrap .item:hover {
  height: 300px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .browseCategoryWrap .item:hover {
    height: 395px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .browseCategoryWrap .commonBtnWrap {
    width: auto;
  }
}

.promotionWrap {
  width: 100%;
}
.promotionWrap .promotionImg {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}
.promotionWrap .promotionImg img {
  transition: all linear 0.7s;
}
.promotionWrap .promotionImg:hover img {
  transform: scale(1.1);
}
.promotionWrap .promotionImg .seeAll {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.sellingProductsWrap {
  width: 100%;
}
.sellingProductsWrap .sellingProductImg {
  border: 2px solid #e7e7e7;
  border-radius: 7px;
  width: 100%;
  position: relative;
}
.sellingProductsWrap .sellingProductImg .discountSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  margin: 0;
}
.sellingProductsWrap .sellingProductImg .discountSection .like {
  font-size: 1.5rem;
}
.sellingProductsWrap .sellingProductImg img {
  max-width: 100%;
}
.sellingProductsWrap .sellingProductImg h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #c1c1c1;
}
.sellingProductsWrap .sellingProductImg h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%, calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)), var(--r) calc(50% - var(--f) / 2));
  background: #ff7d09;
  color: #fff;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset rgba(0, 0, 0, 0.3333333333);
}

.details {
  margin: 2rem 0 1rem;
}

p.amount {
  color: #ff7d09;
  font-weight: 600;
  margin-top: 1rem;
}
p.amount span {
  color: #000000;
}

.shopping-bag {
  text-align: right;
}
.shopping-bag a {
  text-decoration: none;
  color: #3cb815;
  font-size: 1.5rem;
}

#myform {
  text-align: center;
  display: flex;
  border: 2px solid #f0f0f0;
  width: fit-content;
}

.qty {
  width: 40px;
  height: 25px;
  text-align: center;
  border: none;
}

input.qtyplus {
  width: 25px;
  height: 25px;
  border: none;
}

input.qtyminus {
  width: 25px;
  height: 25px;
  border: none;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .item {
  position: relative;
}
.owl-carousel .item .captionText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  z-index: 99;
  color: #000000;
  padding: 1rem;
}
.owl-carousel .item .captionText h2 {
  margin-bottom: 20px;
  color: #ff7d09;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .owl-carousel .item .captionText h2 {
    font-size: 16px;
    text-align: center;
  }
}
.owl-carousel .item .captionText h4 {
  margin-bottom: 0;
  color: #3cb815;
  text-transform: uppercase;
  font-size: 18px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .owl-carousel .item .captionText h4 {
    font-size: 16px;
    text-align: center;
  }
}
.owl-carousel .item .captionText p {
  word-spacing: 1px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .owl-carousel .item .captionText .commonBtnWrap {
    margin: 0 auto 10px;
  }
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  color: #fff;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem !important;
  background: #ff7d09 !important;
  width: 50px;
  height: 50px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  transition: all linear 0.5s;
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-nav .owl-prev:hover {
  left: -5px;
  background-color: #3cb815 !important;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-nav .owl-next:hover {
  right: -5px;
  background-color: #3cb815 !important;
}

/*# sourceMappingURL=style.css.map */
