.commonBtnWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width:160px;
    background-color: $colorSeconday;
    border-radius: 30px;
    height: 42px;
    margin-top: 50px;
    .commonBtn{
        text-decoration: none;
        color: $colorWhite;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3px;
        span{
            text-transform: capitalize;
            padding-left: 20px;
            font-size: 14px;
        }
        i{
           font-size: 35px;
           transition: all linear 0.5s;
        }
        &:hover i{
            transform: rotateX(180deg);
        }
    }
    &:hover{
        background-color: #289b04;
    }
}