*{margin:0; padding:0; box-sizing: border-box;}

@font-face {
    src: url(../fonts/AgathoBold.otf);
    font-family: AgathoBold;
}
@font-face {
    src: url(../fonts/AgathoRegular.otf);
    font-family: AgathoRegular;
}
*::first-letter{
    text-transform: uppercase; 
    display: inline;
}
body
{
    font-size: 100%;
    margin:0;
    padding:0;
    border: none;
    font-family: sans-serif;
    color: $colorBlack;    
    letter-spacing: 1.2px;
}
.container
{
    max-width:$container_width;
}
h2, h3, h4
{    
   
} 
h2
{ 
    font-style: normal;
    font-weight: 700;
    span{
        display: block;
        color: $colorSeconday;
        text-transform: capitalize;
    }
    @include min_max_width(0px, 767px){ 
        
    } 
}
h4
{ 
    @include min_max_width(0px, 767px){
    }
} 
p
{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; 
    @include min_max_width(0px, 767px){
        font-size: 22px;
    }
    
    @include min_max_width(0px, 767px){ 
        
    } 
}